/* BG Colors */
body,
button {
    /*  background-color: rgb(105, 189, 131);*/
    background-color: #00000030;
    overflow-x: hidden;
}

body {
    background-color: #696969;
    background-image: url('https://i.pinimg.com/originals/e5/7b/56/e57b56e0ad683a0ecfbf45018b83f761.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin-top: -10vh;
}
.title{
    margin-top: 2vh;
    margin-left: 3vw;
}

/* Button Container */
.btnContainer{
    position: absolute;
    top: 3vh;
    left: 19.5vw;

    overflow-y: none;

    border-radius: 1vh;
    width: 70vw;
}
.tabContent{
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 12vh;
    left: 14.5vw;

    backdrop-filter: blur(.15vw);

    background-color: #ffffff10;
    height: 85vh;
    width: 70vw;

    border-radius: 3vh;
    border-width: .1vh;
    border-style: solid;
    border-color: #00000030;
    overflow-x: hidden;
}
#home{
    display: block;
}





/*
-----------------------------------
Links
-----------------------------------
*/
button {
    cursor: pointer;
    border-width: .01vh;

    background-color: none;
    border-radius: 1vh;
    border-color: #00000030;
    backdrop-filter: blur(.15vw);

    width: 15vw;
    height: 8vh;
    margin: 0;
    padding: 0;
} .tablink:hover{
    height: 7.9vh;
    border-color: none;
    background-color: #ffffff30;
} .active{
    background-color: #ffffff10;
}

.backgroundButton{
    width: 10vw;
    height: 6vh;
    border: none;
    background-color: #ffffff15;
    margin-top: 35vh;
    margin-left: 59vw;
}
/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: .5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000010;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background: #969696;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #696969;
}
