body{
    color: #84b6b8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 3vh;
    font-weight: 300;
}

h2{
    font-size: 3vh;
    font-weight: 300;
}
#center{
    text-align: center;
} .journal {
    margin-left: 2vw;
}

p{
    font-size: 2.5vh;
    font-weight: 200;
} .sources{
    font-size: 1.25vw;
}

.tablink{
    text-align: center;
    font-weight: 300;
}
a, button{
    text-decoration: none;
    color: #283435;
    font-weight: 400;
    font-size: 2vh;
} a:hover, button:hover {
    color: #788fb1;
    cursor: pointer;
}

button{
    font-weight: 100;
    font-size: 3vh;
}

.journal{
    font-size: 2.5vh;
    font-weight: 200;
    text-align: center;
}
