body{
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2{
    font-size: 40px;
    font-weight: 300;
}h3{
    text-align: center;
} p, h3{
    color: #fff;
    font-size: 20px !important;
    font-weight: 200;
} h4 {
    font-size: 15px;
    font-weight: 300;
}.buttonDescr{
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
} .buttonVersion {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 200;
}
.tablink{
    text-align: center;
}
a, button{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 20px !important;
} button{
    font-weight: 100;
    font-size: 1.7vw;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} a:hover, button:hover {
    color: #b7bbb8c9;
    cursor: pointer;
}
.homePage{
    font-size: 1.5vw;
}

#center{
    text-align: center;
}


@media screen and (orientation: portrait) {
    h1, h2{
        font-size: 2.5vh;
        font-weight: 300;
    } p{
        font-size: 2vh;
        font-weight: 200;
    }
    a, button{
        font-weight: 300;
        font-size: 2vh;
    } button{
        font-weight: 100;
        font-size: 1.8vh;
    } .categoryContainer{
        font-size: 2.5vh;    
    } .buttonVersion {
        font-size: 1.2vh;
    }
    .homePage{
        font-size: 2vh;
    }
}