body{
    line-height: 2;
    overflow: hidden;
    margin-right: 0vw;
    margin-left: 0vw;
    margin-top: 10vh;
    background-color: #171917;
}

/* New */
 .descr{
    padding: 0 10px 0 10px;
    background-color: #ffffff10;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: space-around;
}
input, textarea {
    background-color: #ffffff05;
    color: #e0dbdbda !important;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: none;
} input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: #ffffff0a;
    border: none;
    outline: none;
    box-shadow: none;
} textarea {
    min-height: 7vh;
    width: 80vw;
    margin-bottom: 10px;
} input {
    width: 80vw;
}
.submitbtn{
    background-color: #ffffff15;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
    width: 210px;
    height: 40px !important;
    margin-bottom: 10px;
}
label {
    font-size: 20px;
}

/* Containers */

.simpleBtnContainer, .buttonContainer{
    margin-top: -9vh;
    margin-left: 1vw;
    width: 98vw;
    height: 8vh;
    background-color: #00000000;
    border-radius: .5vh;
    border: none;
    display: flex;
    justify-content: end;
}
.simpleBtnContainer {
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: start;
}
.simpleHomePage{
    margin-left: 0;
    height: 8vh;
    width: 40vw;
    text-align: center;
    background-color: #00000074;
    border: none;
    border-radius: 0.5vh;
}
.simpleBack{
    width: 20vw;
    height: 8vh;
    border-radius: 0.5vh;
    background-color: #00000040;
    border: none;
    margin-left: 38vw;
}
.homelink{
    display: flex; /* Use flexbox instead of grid */
    margin-right: 10vw;
    height: 8vh;
    width: 30vw;
} .portrait{
    border-radius: 0.5vh 0 0 0.5vh;
} .homePage{
    font-size: 20px !important;
    width: 30vw;
    background-color: #00000074;
    border: none;
    border-radius: 0 0.5vh 0.5vh 0;
} .homePage:hover{
    background-color: #ffffff05;
}
.tablinkContainer {
    display: flex;
    width: 60vw;
    gap: 0.7vw;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5vw;
    width: 90vw;
    height: 80vh;
    margin-bottom: 1vh;
    overflow-y: auto;
} #bookPageContainer {
    height: 88vh;
}

.contentContainer{
    display: grid;
    background-color: #00000074;
    grid-template-columns: repeat(2, 1fr); /* Max 2 columns */
    justify-content: center;
    align-items: center;
    width: 50vw; /* Adjust as needed */
    height: 60vh;
    padding: 2vh;
    margin-top: 1vh;
    margin-left: 24vw;
} .categoryContainer{
    height: 15vw;
/*    width: 18vw;*/
    background-color: #ffffff00;
    border-radius: 0.5vh;
    border: none;
} .categoryContainer:hover{
    background-color: #ffffff05;
}

/* BUTTONS */ 
.largeButton{
    display: grid;
    background-color: #00000074;
    grid-template-columns: repeat(2, 1fr); /* Max 2 columns */
    justify-content: center;
    align-items: center;
    width: 30vw; /* Adjust as needed */
    height: 60vh;
    padding-left: 10vw;
    margin-top: 1vh;
    margin-left: 33.5vw;
    border-radius: 0.5vh;
    border: none;
} .largeButton:hover{
    background-color: #ffffff05;
}
.tablink{
    width: 14vw;
    padding-top: 1.5vh;
    height: 6.5vh;
    background-color: #00000000;
    border-radius: 0.5vh;
}.tablink:hover{
    background-color: #ffffff13;
} #GitHub{
    margin-left: 1vw;
    margin-bottom: -1vh;
} #GitHub:hover{
    background-color: #00000000;
}

#sortContainer{
    margin-top: 25vh;
    height: 30vh;
} #sortContainer:hover{
    background-color: #d9d9d9;
}
.essayParagraphs{
    margin-right: 20vw;
    margin-left: 20vw;
}
   
 .photoContainer{
    margin-left: 5vw;
    margin-top: 10vh;
     width: 18vw;
    height: 30vh;
    background-color: #9ed9db60;
    border-radius: .5vh;
    border: none;
}





.journalContainer{
    width: 80vw;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 2vh;
    margin-left: 10vw;
    background-color: #defeed;
} .date{
    margin-left: 30vw;
    width: 20vw;
    height: 10vh;
    background-color: #f3f9fc;
    border-radius: .5vh;
    border: none;
}
/* Random Stuffs */
.aboutMe{
    margin-top: 10vh;
}.homeDescr{
    margin-top: 20vh;
    width: 80vw;
    margin-left: 10vw;
}
.importance{
    margin-top: 10vh;
} #contact{
    display: flex;
    justify-content: flex-end;
    margin-top: 61vh;
    margin-right: .3vw;
} .contact_container{
    display: flex;
    justify-content: center;
    width: 30vw;
    border-radius: .4vh;
    margin-right: 1.75vw;;
    background-color: #ffffff80;
}#contact_text{
    font-size: 2.5vh;
}#misc1{
    margin-top: 10vh;
}
       
.image-container img{
    cursor: pointer; /* Indicate that the images are clickable */
}

/* Full-screen overlay for displaying images */
.fullscreen-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background with some transparency */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures it appears above all other content */
}

.fullscreen-overlay img {
    max-width: 90vw; /* Full width of the viewport */
    height: auto; /* Maintain aspect ratio */
    max-height: 90vh; /* Fit within the viewport height */
    border-radius: 2vh; /* Optional: adds rounded corners */
}

.fullscreen-overlay .close-btn {
    position: absolute;
    top: 2vh;
    right: 2vw;
    color: #fedeef;
    font-size: 3vw;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.codeSeg{
    margin-left: 20vw;
    width: 60vw;
}

.ganttChart{
    width: 70vw;
    margin-left: 5vw;
    border-radius: 1vh;
}
.portraitContact{
    position: absolute;
    top: 40vh;
    left: 44vw;
    width: 10vw;
    border-radius: 1vh;
}

.diagram{
    margin-top: 5vh;
    margin-left: 40vw;
    width: 20vw
}


/* TEXT */
h1{
    text-align: center;
} p{
    margin-left: 4vw;
    margin-right: 4vw;
}

/* Width */
::-webkit-scrollbar {
    width: .5vw;
}
/* Track */
::-webkit-scrollbar-track {
    background: #00000010;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background: #99999970;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #696969;
}  

@media screen and (orientation: portrait) {
    /* Containers */
    .mainContainer{
        margin-left: 5vw;
        width: 90vw;
    }
    .buttonContainer{
        margin-left: 2vw;
        width: 96vw;
        height: 8vh;
    }
    .contentContainer{
        width: 81vw; 
        margin: 0;
        height: 40vh;
        padding: 2vh;
        margin-top: 5h;
    } .categoryContainer{
        width: 40vw;
        height: 20vh;
        font-size: 2vh;
        background-color: #ffffff00;
        border-radius: 0.5vh;
        border: none;
    } .categoryContainer:hover{
        background-color: #ffffff05;
    }
    .homelink, .homePage{
        margin-right: 2vw;
        font-size: 15px !important;
        width:25vw;
        height: 8vh;
    } .portrait{
        display: none;
    } .homePage:hover{
        background-color: #ffffff05;
    } 
    .homeDescr{
        background-color: #00000074;
        width: 60vw;
        height: 30vh;
        padding-top: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-left: 10vw;
    }

    .essayParagraphs{
        width: 89vw;
        margin: 0;
    }
    #homeBtn{
        display: none;
    }
    .tablink{
        font-size: 15px !important;
        width: 23vw;
        padding: 0;
        padding-top: 2vh;
        height: 6vh;
    }.tablink:hover{
        background-color: #ffffff05;
    }   #GitHub{
        padding-top: 2vh;
        height: 6vh;
        position: absolute;
        left: 2vw;
        bottom: 0vh;
    } #GitHub:hover{
        background-color: #00000000;
    }
    
    .simpleBtnContainer {
        width: 90vw;
        margin-left: 5vw;
        padding-top: 1vh;
        padding-bottom: 2vh;
        justify-content: start;
    }
    .simpleBack{
        margin-left: 34vw;
    }

    /* --- FONTS --- */ 
    .largeButton{
        width: 40vw;
        height: 20vh;
        padding: 0;
        margin-top: 10vh;
        margin-left: 25vw;
        padding-left: 15vw;
    }
    .buttonDescr, h3{
        color: #e0dbdbba;
        font-size: 1vh;
        font-weight: 200;
    } h3{ font-size: 1.5vh;}
}